aiohttp==3.7.4.post0
appdirs==1.4.4
asttokens==2.0.5
async-timeout==3.0.1
attrs==21.4.0
Automat==20.2.0
backcall==0.2.0
Beaker==1.11.0
beautifulsoup4==4.10.0
black==22.1.0
CacheControl==0.12.6
cairocffi==1.3.0
CairoSVG==2.5.2
cffi==1.15.0
chardet==4.0.0
click==8.0.4
colorama==0.4.4
configobj==5.1.0.dev0
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==36.0.2
cssselect2==0.5.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
distro==1.7.0
dnspython==2.2.0
docutils==0.18.1
entrypoints==0.4
evdev==1.4.0
executing==0.8.2
ffmpeg-python==0.2.0
Flask==2.0.3
fonttools==4.31.2
future==0.18.2
gps==3.23.1
guiscrcpy==4.12.0
html5lib==1.1
hyperlink==21.0.0
idna==3.3
imageio-ffmpeg==0.4.5
impacket==0.9.24
importlib-metadata==4.8.1
incremental==21.3.0
injector==0.19.0
ipykernel==6.9.0
ipython==8.0.1
itsdangerous==2.1.0
jedi==0.18.1
Jinja2==3.0.3
jupyter-client==7.1.2
jupyter-core==4.9.1
keyboard==0.13.5
Kivy==2.0.0
Kivy-Garden==0.1.4
kiwisolver==1.3.2
ldap3==2.9
lensfun==0.3.3
libfdt==1.6.1
libinput-gestures-qt==0.4
libtorrent===2.0.5-build-libtorrent-rasterbar-src-libtorrent-rasterbar-2.0.5-bindings-python
libvirt-python==8.1.0
lutris==0.5.9.1
lxml==4.8.0
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mercurial==6.1
minigalaxy==1.1.0
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.3
multidict==6.0.2
mypy-extensions==0.4.3
nest-asyncio==1.5.4
nftables==0.1
numpy==1.22.3
OpenTimelineIO==0.14.1
optimus-manager==1.4
ordered-set==4.0.2
packaging==20.9
parso==0.8.3
pathspec==0.9.0
pcapy-ng==1.0.4
pdf-hide==0.0
peewee==3.14.10
pefile==2021.9.3
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.4.1
ply==3.11
prettytable==3.0.0
progress==1.6
prompt-toolkit==3.0.27
protontricks==1.8.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.4
py-cord==1.7.3
py3nvml==0.2.7
pyaaf2==1.4.0
pyasn1==0.4.8
pycairo==1.21.0
pycparser==2.21
pycryptodome==3.14.1
pycryptodomex==3.12.0
Pygments==2.11.2
PyGObject==3.42.0
PyNaCl==1.5.0
pynput==1.7.6
pyOpenSSL==22.0.0
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
PySide2==5.15.2.1
PySimpleGUI==4.57.0
PySimpleGUIDesigner==0.1.4.7
python-dateutil==2.8.2
python-prctl==1.8.1
python-xlib==0.31
pyudev==0.22.0.dev20211202
pyxdg==0.27
PyYAML==6.0
pyzbar==0.1.8
pyzmq==22.3.0
qrcode==7.3.1
QtPy==2.0.1
Reflector==2021.11.20.2.41.3
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
Rx==3.2.0
scipy==1.8.0
shiboken2==5.15.2.1
six==1.16.0
soupsieve==2.3.1
stack-data==0.1.4
sympy==1.10
TBB==0.2
team==1.0
termcolor==1.1.0
terminator==2.1.1
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tornado==6.1
traitlets==5.1.1
Twisted==21.7.0
typing-extensions==4.1.0
ufw==0.36.1
urllib3==1.26.9
urwid==2.1.2
validate==5.1.0.dev0
vboxapi==1.0
vdf==3.4
waitress==2.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
xcffib==0.11.1
yarl==1.7.2
youtube-dl==2021.12.17
zipp==3.7.0
zope.interface==5.4.0
beautifulsoup4